<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Employee</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,200&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="image-section">
        <img
          src="{{url_for('static', filename='images/Fondo2.png')}}"
          alt="Fondo"         />
          <h1>Add Employee Page</h1>
          <section class="contenido">      
            <div id="NuevoTab" class="new-container contenido-tab">
              <h1>Nuevo Producto</h1>
                <form id="formulario">
                    <label for="idi">ID:</label>
                    <input type="number" id="idi" required><br>
        
                    <label for="pos">Posición:</label>
                    <input type="number" id="pos" required><br>
        
                    <label for="gp">Grupo de personal:</label>
                    <input type="number" id="gp" required><br>
        
                    <label for="aliq">Á.liq.:</label>
                    <input type="number" id="aliq" required><br>
        
                    <label for="cp">CODIGO POSTAL:</label>
                    <input type="number" id="cp" required><br>
        
                    <label for="mr">Motivo de la RENUNCIA:</label>
                    <input type="number" id="mr" required><br>

                    <label for="tb">Tipo de Baja:</label>
                    <input type="number" id="tb" required><br>

                    <label for="banda">Banda:</label>
                    <input type="number" id="banda" required><br>

                    <label for="baja">Baja:</label>
                    <input type="text" id="baja" required><br>

                    <label for="regla">ReglaPHT:</label>
                    <input type="number" id="regla" required><br>

                    <label for="alta">Alta:</label>
                    <input type="text" id="alta" required><br>

                    <label for="antclas">Antigüedad Clas:</label>
                    <input type="number" id="antclas" required><br>

                    <label for="ant">Antigüedad:</label>
                    <input type="number" id="ant" required><br>

                    <label for="clave">Clave de sexo:</label>
                    <input type="number" id="clave" required><br>

                    <label for="lugar">Lugar de nacimiento:</label>
                    <input type="text" id="lugar" required><br>

                    <label for="clas">Clasificacion L. N:</label>
                    <input type="number" id="clas" required><br>

                    <label for="age">Edad del empleado:</label>
                    <input type="number" id="age" required><br>

                    <label for="time">¿Cuanto tiempo tiene viviendo en Cd. Juarez?</label>
                    <input type="number" id="time" required><br>

                    <label for="edocivil">Estado Civil</label>
                    <input type="number" id="edocivil" required><br>

                    <label for="hijos">Hijos</label>
                    <input type="number" id="hijos" required><br>
                
                    <button  onclick="Enviar()">Enviar</button>
                </form>
            </div>

          </section>

          																				
        <!-- Puedes agregar más contenido específico para esta página si es necesario -->
      </div>
    </div>
  </body>
</html>
