<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Political Sentiment Analysis</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,200&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="image-section">
        <img
          src="{{url_for('static', filename='images/Fondo.png')}}"
          alt="Fondo"
        />
        <button onclick="window.location.href='/add_employee'">
          <img
            src="{{url_for('static', filename='images/Add.png')}}"
            alt="Añadir"
          />
        </button>

        <button onclick="window.location.href='/search_employee'">
          <img
            src="{{url_for('static', filename='images/Buscar.png')}}"
            alt="Buscar"
          />
        </button>
      </div>
    </div>
  </body>
</html>
