<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Political Sentiment Analysis</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,200&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
      <div class="image-section">
        <img src="img/Fondo.png" alt="Fondo">
          <button onclick="AñadirEmpleado()">
              <img src="img/Add.png" alt="Añadir">
          </button>
          
          <button onclick="BuscarEmpleado()">
              <img src="img/Buscar.png" alt="Buscar">
          </button>            
      </div>
    </div>  

 
</body>
</html>