body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: large;
}

.container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px; /* Esquinas redondeadas */
  justify-content: center;
  align-items: center;
}

.image-section {
  position: relative;
  display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
}

.image-section {
  flex: 1;
  padding: 20px;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: rgba(72, 195, 248, 0);
  color: rgba(255, 255, 255, 0); /* Color del texto */
  border: 0px solid rgba(72, 195, 248, 0);
}

#result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* O ajusta la altura según sea necesario */
}

.image-section button {
  position: absolute;
  bottom: 185px;
  right: 1050px;
  width: 300px; /* Ancho del botón */
  height: 300px; /* Altura del botón */
  margin-right: 20px; /* Ajusta el margen entre los botones */
}

button:first-child {
  right: 750px;
}

button:last-child {
  right: 700px;
}